<div class="input-group mb-3">
  <div class="input-container">  <input type="text" class="form-control" placeholder="Wyszukaj wśród produktów" aria-label="Search" aria-describedby="basic-addon1"><img class="search" [src]="images[0]" /></div>
</div>

<div id="main-text"><strong>Podaj jedynie kwotę oraz przeznaczenie, resztą zajmiemy się za Ciebie</strong></div>

<br>

<div id="choose">
    <div class="dropdown"><img class="filter-white" [src]="images[1]" /><div class="category">Komputery</div>
        <div class="dropdown-content">
            <input type="range" class="form-range" id="customRange1">
            <label for="customRange1" class="form-label">Cena</label>
            <div class="dropdown-inner">{{choose}}
                <div class="dropdown-content-inner">
                    <a>Do gier</a><br>
                    <a>Biurowy</a><br>
                    <a>Do zadań specjalnych</a>
                </div>
            </div>
        </div>
      </div>

      <div class="dropdown"><img class="filter-white" [src]="images[2]" />
        <div class="category">Laptopy</div>
        <div class="dropdown-content">
          <input type="range" class="form-range" id="customRange1">
          <label for="customRange1" class="form-label">Cena</label>
          <div class="dropdown-inner">{{ selectedCategory?.label }}
            <div class="dropdown-content-inner">
              <a (click)="onCategorySelected({ value: 'gaming', label: 'Do gier' })">Do gier</a><br>
              <a (click)="onCategorySelected({ value: 'office', label: 'Biurowy' })">Biurowy</a><br>
              <a (click)="onCategorySelected({ value: 'special', label: 'Do zadań specjalnych'})">Do zadań specjalnych</a>
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown">
        <img class="filter-white" [src]="images[3]" />
        <div class="category">Akcesoria</div>
        <div class="dropdown-content">
          <div class="dropdown-inner">
            {{ selectedCategory?.label }}
            <div class="dropdown-content-inner">
              <a (click)="onCategorySelected({ value: 'keyboards', label: 'Klawiatury' })">Klawiatury</a><br>
              <a (click)="onCategorySelected({ value: 'mice', label: 'Myszki' })">Myszki</a><br>
            </div>
          </div>
          <input type="range" class="form-range" id="customRange1">
          <label for="customRange1" class="form-label">Cena</label>
          <div class="dropdown-inner">
            {{ selectedCategory?.label }}
            <div class="dropdown-content-inner">
              <a (click)="onCategorySelected({ value: 'gaming', label: 'Do gier' })">Do gier</a><br>
              <a (click)="onCategorySelected({ value: 'office', label: 'Biurowe' })">Biurowe</a><br>
            </div>
          </div>
        </div>
      </div>      

      <div class="dropdown"><img class="filter-white" [src]="images[4]" /><div class="category">Gotowe zestawy</div>
        <div class="dropdown-content">
            <input type="range" class="form-range" id="customRange1">
            <label for="customRange1" class="form-label">Cena</label>
            <div class="dropdown-inner">{{choose}}
              <div class="dropdown-content-inner">
                <a>Do gier</a><br>
                <a>Biurowy</a><br>
                <a>Do zadań specjalnych</a>
              </div>
            </div>
        </div>
      </div>

      <div class="dropdown"><img class="filter-white" [src]="images[5]" /><div class="category">Kontakt</div>
      </div>
</div>

<router-outlet></router-outlet>