<div class="input-group mb-3">
  <app-fast-filter></app-fast-filter>
</div>

<div id="main-text"><strong>Podaj jedynie kwotę oraz przeznaczenie, resztą zajmiemy się za Ciebie</strong></div>

<br>

<div id="choose">
  <div class="dropdown"><img class="filter-white" [src]="images[1]" />
    <div class="category">Komputery</div>
    <!-- <div class="dropdown-content">
            <input type="range" class="form-range" id="customRange1">
            <label for="customRange1" class="form-label">Cena</label>
            <div class="dropdown-inner"><div>{{ selectedCategory?.label || 'Wybierz przeznaczenie'}}</div>
                <div class="dropdown-content-inner">
                    <a (click)="onCategorySelected({ value: 'gaming', label: 'Do gier' })">Do gier</a><br>
                    <a (click)="onCategorySelected({ value: 'office', label: 'Biurowy' })">Biurowy</a><br>
                    <a (click)="onCategorySelected({ value: 'special', label: 'Do zadań specjalnych'})">Do zadań specjalnych</a>
                </div>
            </div>
        </div> -->
  </div>

  <div class="dropdown"><img class="filter-white" [src]="images[2]" />
    <div class="category">Laptopy</div>
    <!-- <div class="dropdown-content">
          <input type="range" class="form-range" id="customRange1">
          <label for="customRange1" class="form-label">Cena</label>
          <div class="dropdown-inner">{{ selectedCategory?.label || 'Wybierz przeznaczenie'}}
            <div class="dropdown-content-inner">
              <a (click)="onCategorySelected({ value: 'gaming', label: 'Do gier' })">Do gier</a><br>
              <a (click)="onCategorySelected({ value: 'office', label: 'Biurowy' })">Biurowy</a><br>
              <a (click)="onCategorySelected({ value: 'special', label: 'Do zadań specjalnych'})">Do zadań specjalnych</a>
            </div>
          </div>
        </div> -->
  </div>

  <a (click)="redirectToProducts()">
    <div class="dropdown">
      <img class="filter-white" [src]="images[3]" />
      <div class="category">Akcesoria</div>
      <!-- <div class="dropdown-content">
          <div class="dropdown-inner">
            {{ selectedCategory?.label || 'Wybierz akcesorium'}}
            <div class="dropdown-content-inner">
              <a (click)="onCategorySelected({ value: 'keyboards', label: 'Klawiatury' })">Klawiatury</a><br>
              <a (click)="onCategorySelected({ value: 'mice', label: 'Myszki' })">Myszki</a><br>
            </div>
          </div>
          <input type="range" class="form-range" id="customRange1">
          <label for="customRange1" class="form-label">Cena</label>
          <div class="dropdown-inner">
            {{ selectedCategory?.label || 'Wybierz przeznaczenie' }}
            <div class="dropdown-content-inner">
              <a (click)="onCategorySelected({ value: 'gaming', label: 'Do gier' })">Do gier</a><br>
              <a (click)="onCategorySelected({ value: 'office', label: 'Biurowe' })">Biurowe</a><br>
            </div>
          </div>
        </div> -->
    </div>
  </a>

  <div class="dropdown"><img class="filter-white" [src]="images[4]" />
    <div class="category">Gotowe zestawy</div>
    <!-- <div class="dropdown-content">
            <input type="range" class="form-range" id="customRange1">
            <label for="customRange1" class="form-label">Cena</label>
            <div class="dropdown-inner">{{ selectedCategory?.label || 'Wybierz przeznaczenie' }}
              <div class="dropdown-content-inner">
                <a (click)="onCategorySelected({ value: 'gaming', label: 'Do gier' })">Do gier</a><br>
                <a (click)="onCategorySelected({ value: 'office', label: 'Biurowe' })">Biurowy</a><br>
                <a (click)="onCategorySelected({ value: 'office', label: 'Do zadań specjalnych' })">Do zadań specjalnych</a>
              </div>
            </div>
        </div> -->
  </div>

  <div class="dropdown"><img class="filter-white" [src]="images[5]" />
    <div class="category">Kontakt</div>
  </div>
</div>

<router-outlet></router-outlet>