<p-toast [life]="2000" [preventOpenDuplicates]="true"></p-toast>
<div *ngIf="product">
    <div class="product">
        <div class="top">
            <div class="photo">
                <app-product-photo [thumbnailUrl]="product.thumbnail"
                    [imagesUrls]="product.pictures"></app-product-photo>
            </div>
            <div class="specs" *ngIf="productDetails">
                <h1>{{ product['model'] }}</h1>
                <p-rating [(ngModel)]="product.rate" [readonly]="true" [disabled]="true" [cancel]="false"></p-rating>
                <span *ngFor="let productAttribute of productCommonFields">
                    <span *ngIf="productAttribute['label']!=='price' && productAttribute['label']!=='name'">
                        <br>
                        <span class="text-indigo-400">{{ productAttribute['label_pl'] + ': '}}</span>
                        <span>{{getProductAttribute(product,productAttribute['label']) }}</span>
                    </span>
                </span>
                <span *ngFor="let productDetailsAttribute of getSelectedProductLabels()">
                    <span>
                        <br>
                        <span class="text-indigo-400">{{ productDetailsAttribute['label_pl'] + ': ' }} </span>
                        <span>{{getProductAttribute(productDetails,productDetailsAttribute['label']) }} </span>
                    </span>
                </span>
                <br>
                <span class="text-indigo-400">Kategoria produktu: </span>
                <span>{{ product.productCategory }} </span>
            </div>
        </div>
        <div class="top-underspecs">
            <div class="previous-product">
                <a href="#" class="previous round"><img class="filter-white" [src]=images[0] /></a>
            </div>
            <div class="price gap-8">
                <div style="width: 200px;">
                    <h2>{{ calculatePrice() + " ZŁ" }}</h2>
                </div>
                <button (click)="addProductToBucket()" type="button" class="btn btn-danger">Dodaj do koszyka</button>
                <p-inputNumber [(ngModel)]="quantity" [showButtons]="true" [size]="2" buttonLayout="horizontal"
                    spinnerMode="horizontal" inputId="vertical" decrementButtonClass="p-button-secondary"
                    incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                    decrementButtonIcon="pi pi-minus" [min]="1" [max]="product.quantity" [allowEmpty]="false"
                    placeholder="1"></p-inputNumber>
            </div>
        </div>
    </div>
    <hr>
    <div class="product-bottom">
        <div class="feed flex flex-column gap-7">
            <div class="feed-top">
                <h1>{{"Opinie (" + opinions?.length + ")"}} </h1>
                <button *ngIf="username!==''" type="button" class="btn btn-secondary"
                    (click)="this.addOpinionActive=true">Dodaj opinię</button>
            </div>
            <div class="flex flex-column gap-7">
                <div *ngIf="addOpinionActive">
                    <div class="flex gap-4 align-items-center">
                        <b>{{username}}</b>
                        <p-rating [(ngModel)]="customOpinionRate" [readonly]="false" [cancel]="false"></p-rating>
                        <i class="addOpinion pi pi-plus-circle" style="font-size: 2.5rem" (click)="addOpinion()"></i>
                    </div>
                    <div class="font-italic text-2xl w-9">
                        <textarea rows="5" cols="30" pInputTextarea [(ngModel)]="customOpinionComment"></textarea>
                    </div>
                </div>
                <div *ngFor="let opinion of opinions">
                    <div class="flex flex-column gap-4">
                        <div class="flex gap-4 align-items-center">
                            <b>{{opinion.username}}</b>
                            <p-rating [(ngModel)]="opinion.rate" [readonly]="true" [cancel]="false"
                                [disabled]="true"></p-rating>
                            <i class="deleteOpinion pi pi-trash" style="font-size: 1.5rem"
                                *ngIf="opinion.username===username" (click)="removeOpinion(opinion.bid)"></i>
                        </div>
                        <div class="font-italic text-2xl w-9">
                            {{ opinion.comment }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>