ngb-carousel {
    height: 50vh;
    width: 80vh;
}

ng-template {
    height: 10vh;
    width: auto;
}

.carousel-caption {
    height: 10vh;
    width: auto;
}

.picsum-img-wrapper {
    height: 70vh;
    width: 20vh;
}

img{
    margin-top: 80px;
    margin-left: 140px;
    max-height: 520px;
    width: 800px;
}