<div class="data">
    <div class="data-title-label">Dane konta</div><br>
    <div class="data-content">
        <div id="adres">Adres</div>
        <div id="account-data">
            <div class="data-panel" id="data-panel-1">
                <div class="data-input"><label for="firstandsecondName">Imię i nazwisko</label><input id="firstandsecondName" class="form-control" placeholder="" name="firstandsecondName" /></div>
                <div class="data-input"><label for="pass">Hasło</label><input type="password" id="pass" class="form-control" placeholder="*******" name="pass" /></div>
                <div class="data-input"><label for="email">e-mail</label><input type="email" id="email" class="form-control" placeholder="" name="email" /></div>
            </div>
            <div style="margin-left: 30rem;">
               <app-home-delivery-address
               [shouldReturDeliveryAddress]="false"
               ></app-home-delivery-address>
            </div>
        </div>
    </div>
    <div class="save-changes"><button>Zapisz zmiany</button></div>
</div>