<div class="data">
    <div class="data-title-label">Dane konta</div><br>
    <div class="data-content">
        <div id="adres">Adres</div>
        <div id="account-data">
            <div class="data-panel" id="data-panel-1">
                <div class="data-input"><label for="firstandsecondName">Imię i nazwisko</label><input id="firstandsecondName" class="form-control" placeholder="" name="firstandsecondName" /></div>
                <div class="data-input"><label for="pass">Hasło</label><input type="password" id="pass" class="form-control" placeholder="*******" name="pass" /></div>
                <div class="data-input"><label for="email">e-mail</label><input type="email" id="email" class="form-control" placeholder="" name="email" /></div>
            </div>
            <div>
                <div class="data-panel" id="data-panel-2">
                    <div class="data-input"><label for="cityName">Miejscowość</label><input id="cityName" class="form-control" placeholder="" name="cityName" /></div>
                    <div class="data-input"><label for="postalCode">Kod pocztowy</label><input id="postalCode" class="form-control" placeholder="" name="postalCode" /></div>
                    <div class="data-input"><label for="streetName">Ulica</label><input id="streetName" class="form-control" placeholder="" name="streetName" /></div>
                    <div class="data-input"><label for="houseNumber">Nr domu</label><input id="houseNumber" class="form-control" placeholder="" name="houseNumber" /></div>
                    <div class="data-input"><label for="apartmentNumber">Nr mieszkania</label><input id="apartmentNumber" class="form-control" placeholder="" name="apartmentNumber" /></div>
                </div>
            </div>
        </div>
    </div>
    <div class="save-changes"><button>Zapisz zmiany</button></div>
</div>