<div class="flex mt-4">
    <app-filter (filteredProductsEmitter)="setFilteredProducts($event)">
    </app-filter>
    <div class="mainView">
        <h2>Lista produktów odpowiadająca twoim wymaganiom:</h2>
        <div class="productList">
            <div class="border-solid border-purple-500 border-3 flex gap-4"
                *ngFor="let product of products; let i = index">
                <div class="imageDiv">
                    <img class="max-w-full max-h-full" *ngIf="imagesUrlToBytes[i]!==undefined"
                        [src]="imagesUrlToBytes[i]" [alt]="product.thumbnail">
                </div>
                <div class="flex-column">
                    <div class="productName">
                        <h4><a [routerLink]="['/product']" [queryParams]="{productId: product['bid']}">{{
                                product['name'] + " " + product['model'] }}</a></h4>
                    </div>
                    <div class="flex">
                        <div class="productAtribiutes">
                            <span *ngFor="let productAttribute of productCommonFields">
                                <div *ngIf="productAttribute['label']!=='price'">
                                    <li class="text-xl">
                                        <span class="text-indigo-400">{{ productAttribute['label_pl'] + ': ' }} </span>
                                        <span>{{ getProductAttribute(product,productAttribute['label']) }} </span>
                                    </li>
                                </div>
                            </span>
                            <li class="text-xl"> <span class="text-indigo-400">kategoria produktu: </span>
                                <span>{{ product.productCategory }} </span>
                            </li>
                        </div>
                        <div class="priceAndBucket">
                            <h2 class="text-green-300">{{ "Cena: " + product['price'] + "Zł"}}</h2>
                            <h2 class="addToBucket" (click)="setSelectedProduct(i)">DODAJ DO KOSZYKA</h2>
                        </div>
                        <p-dialog [style]="{width: '400px'}" [draggable]="false" [(visible)]="quantityDialogVisible" header="Wybierz ilość produktu do kupienia">
                            <div class="flex flex-column align-items-center">
                                <p style="color: green;">{{ "wybrana ilosc: " + productOrderQuantity }}</p>
                                <p-inputNumber [(ngModel)]="productOrderQuantity" [showButtons]="true" [size]="2"
                                    buttonLayout="horizontal" spinnerMode="horizontal" inputId="vertical"
                                    (onHide)="quantityDialogVisible = false" decrementButtonClass="p-button-secondary"
                                    incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus"
                                    decrementButtonIcon="pi pi-minus" [min]="1" [max]="selectedProduct.quantity"
                                    [allowEmpty]="false" placeholder="1"></p-inputNumber>
                                    <p style="color: grey;">{{"dostepna ilosc: " + selectedProduct.quantity}}</p>
                                <button (click)="addProductToBucket(selectedProduct.bid)">dodaj produkt</button>
                            </div>
                        </p-dialog>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>