h3 {
  padding: 20px;
  font-weight: 900;
}

.main {
  display: flex;
}

.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.input {
  width: 75%;
  margin: 10px;
  height: 50px;
  padding: 25px;
  border-radius: 50px;
  border-style: none;
}

button {
  margin: 15px;
  margin-bottom: 50px;
  border-radius: 50px;
  width: 75%;
  font-weight: 900;
  padding: 5px;
  font-size: large;
  background: rgb(40, 97, 83);
  background: linear-gradient(
    90deg,
    rgba(40, 97, 83, 1) 0%,
    rgba(2, 110, 113, 1) 36%,
    rgba(208, 228, 215, 1) 100%
  );
  border-style: none;
  box-shadow: 0 3px #666;
}

button:active {
  box-shadow: 0 0px #666;
  transform: translateY(4px);
}

button:hover {
  background: rgb(40, 97, 83);
  background: linear-gradient(
    90deg,
    rgb(58, 140, 120) 0%,
    rgb(3, 145, 150) 36%,
    rgb(233, 255, 241) 100%
  );
}

.register {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

.description{
    margin-left: 30px;
    text-align: center;
    font-size: 15px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}





