/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "TT Octosquares Trial Light";
    src:
        url("./assets/fonts/TT Octosquares Trial Light.ttf");
}

body {
    background-color: #1f2429;
    color: white;
    font-family: "TT Octosquares Trial Light";
}

*{
    user-select: none;
}

/* div{
    border-style: solid;
    border-width: 1px;
    border-color: red;
} */

@import '../node_modules/primeng/resources/themes/arya-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.css';
@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeflex/themes/primeone-dark.css';
@import "primeicons/primeicons.css";