<header>
  <div id="title"><a style="text-decoration:none" [routerLink]="'home'"><strong>KUP<strong
          id="red-s">S</strong>PRZECIK.PL</strong></a></div>
  <div id="panel">
    <div id="user">
      <div class="dropdown" *ngIf="!isUserLogged">
        <img *ngIf="!isUserLogged" [src]="images[0]" class="filter-white" alt="Panel użytkownika" />
        <div class="dropdown-content">
          <a (click)="openLoginDialog()">Zaloguj się</a>
          <span class="text-red-500"> Nie masz jeszcze konta? </span>
          <a (click)="openRegisterDialog(true)">Zarejestruj się</a>
        </div>
      </div>
      <div class="dropdown" *ngIf="isUserLogged">
        <img *ngIf="isUserLogged" [src]="images[2]" alt="Panel użytkownika" />
        <div class="dropdown-content">
          <a style="text-decoration:none" [routerLink]="'user-panel'">Konto</a>
          <br>
          <a>Zamówienia</a>
          <br>
          <a>Opinie</a>
          <a (click)="logout()">Wyloguj się</a>
        </div>
      </div>
    </div>

    <div id="cart">
      <div class="dropdown"> <img [src]="images[1]" class="filter-white" alt="Koszyk" />
        <div class="dropdown-content">
          <a>Koszyk jest pusty!</a>
        </div>
      </div>
    </div>
  </div>
</header>

<router-outlet></router-outlet>


<div class="testSection">
  <h1>***DO TESTU***</h1>
  <a style="text-decoration:none" [routerLink]="'home'"><button>Strona główna</button></a>
  <a style="text-decoration:none" [routerLink]="'products'"><button>Wykaz produktów</button></a>
  <a style="text-decoration:none" [routerLink]="'product'"><button>Podstrona produktu</button></a>

  <button (click)="showDialog()">Opcja dla administratora - dodaj produkt</button>
  <p-dialog appendTo="body" header="Zarzadzanie produktami" [(visible)]="visible" [modal]="true"
    [style]="{width: '90%', height: '900px'}" [draggable]="false" [resizable]="false">
    <app-product-updater></app-product-updater>
    <app-product-creator></app-product-creator>
  </p-dialog>


  <p-dialog header="Logowanie" [modal]="true" [(visible)]="loginDialogVisible" [draggable]="false">
    <app-login 
    (isLogged)="setIsUserLogged()"
    (openRegisterDialog)="closeLoginAndOpenRegister()"
    ></app-login>
  </p-dialog>
</div>

<app-register-panel 
[openDialog]="registerDialogVisible"
(closeDialog)="openRegisterDialog(false)">
</app-register-panel>